@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
a{
  color: black !important;
}

.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
  
}



#toast-container{
  top:30px !important;
  right: 20px !important;
  left: auto !important;
}


.material-icons:hover{
  cursor: pointer;
}

.brand-logo,h2{
  /* font-family: 'PT Sans', sans-serif; */
  font-weight: 900;
  /* text-shadow: -10px 0 white, 0 10px white, 10px 0 white, 0 -10px white; */
  color: #C62828 !important;
}

.main-background-color{
  background-color:#1e2529;
}
.navbar-link-color{
  color: white !important;
}



/*Checkout page*/

h1, h2, h3, p, a, button{
  font-family:'poppins';
  font-weight: 300;
}

.product-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.row {
  margin: auto;
  padding: 25px;
}

.col .s6 {
  padding: 0px;
}

.product-name {
  font-family:'poppins';
  font-size: 2em;
  font-weight: 700;
  margin-top: 10px;

}

.product-price {
  font-size: 1.3em;
  margin: 10px;
}

p {
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 30px;
}

/*Checkout page end*/